/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #fbc2eb, #a6c1ee);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CARD UTAMA */
.card {
  background: #fff0f6;
  padding: 35px 25px;
  border-radius: 30px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* NAMA */
.card h1 {
  font-size: 22px;
  margin-bottom: 5px;
}

/* USERNAME */
.card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

/* TOMBOL LINK */
a {
  display: block;
  margin: 12px 0;
  padding: 14px;
  border-radius: 25px;
  background: linear-gradient(90deg, #ff9ecf, #ffc3e3);
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

/* EFEK HOVER */
a:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
